= select_tag :project_id, options_for_select([["Select Project", tasks_path]] + current_user.projects.collect{|p| [p.name, project_tasks_path(p)]}, @project ? project_tasks_path(@project) : tasks_path), class: "jump_to_url"

= link_to "Refresh list of tasks", download_tasks_path

%ul.tasks
  - @tasks.each do |task|
    %li
      %span= task.name
      - if current_user.current_time_log_entry(task.project) && current_user.current_time_log_entry(task.project).task_id == task.id
        = link_to([:stop_work, task.project, task], class: "icon-stop") { content_tag(:span, "Start work") }
      - else
        = link_to([:start_work, task.project, task], class: "icon-start") { content_tag(:span, "Stop work") }
