- projects = current_user.projects.asc(:name).collect{ |p| [p.name, project_tasks_path(p)] }
= select_tag :project_id, options_for_select([["Select Project", tasks_path]] + projects, @project ? project_tasks_path(@project) : tasks_path), class: "jump_to_url"

= link_to "Refresh list of tasks", download_tasks_path

%ul.tasks
  - @tasks.each do |task|
    %li{:class => "#{'current' if is_current_task?(task)}"}
      %span.task_name
        = link_to "##{task.pivotal_tracker_story_id}", "http://www.pivotaltracker.com/story/show/#{task.pivotal_tracker_story_id}", target: "_blank"
        = task.name
      - if is_current_task?(task)
        = link_to([:stop_work, task.project, task], class: "icon-stop", title: "Stop work") { content_tag(:span, "Stop work") }
      - else
        = link_to([:start_work, task.project, task], class: "icon-start", title: "Start work") { content_tag(:span, "Start work") }
      %span.iteration{title: "Iteration #{task.iteration_number}"} 
        = task.iteration_number
      %span.project{title: "Project: #{task.project.name}", :style => "background-color: #{color_from_number(task.project.pivotal_tracker_project_id)}"}
        = link_to task.project.name, [task.project, :tasks]
