%h1 Projects

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
  %tbody
    - @projects.each do |p|
      - if current_user.owned_projects.include?(p)
        %tr
          %td
            = link_to "##{p.pivotal_tracker_project_id}", project_path(p)
            = p.name
          %td
            - if is_admin?
              %strong Workers:
              = p.users.collect{|u| u.email }.join(', ')
            - else
              %strong Co-workers:
              = (p.users - [current_user]).collect{|u| u.email }.join(', ')
