#project
  %h1= "#{@current_project.name} - project page"

  %section
    %fieldset.well
      %legend Owners
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Email
            %th
        %tbody
          -if @current_project.our_owner_emails
            - @current_project.our_owner_emails.each do |o|
              %tr
                %td= o
                %td= link_to "remove", remove_owner_path(@current_project.id, o), method: :delete

      = form_tag add_owner_path, method: :post, class: 'form-inline' do |f|
        = autocomplete_field_tag :email, '', autocomplete_user_email_users_path
        = hidden_field_tag :project_id, @current_project.id
        = submit_tag 'Add user', class: 'btn btn-primary'

