#project
  %h1= "#{@current_project.name} - project page"

  %section
    %fieldset.well
      %legend Developers
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Email
            -if @current_project.owned_by?(current_user) || @current_project.users.include?(current_user)
              %th Client hourly rate (PLN)
        %tbody
          - @current_project.users.each do |u|
            %tr
              -current_rate = "%.2f" % ((u.current_project_client_hourly_rate(@current_project).rate.to_f/100))
              %td= u.name
              %td
                -if @current_project.owned_by?(current_user)
                  = form_tag project_set_client_hourly_rate_path(@current_project, u), method: :put, class: 'form-inline' do
                    = text_field_tag :rate, current_rate, :class => 'input-small'
                    = submit_tag 'Set', class: 'btn btn-primary'
                -elsif current_user == u
                  = current_rate
  
  -if @current_project.owned_by?(current_user)
    %section
      %fieldset.well
        %legend Project Budget
        %table.table.table-striped.table-bordered
          -total_money = "%.2f" % (@current_project.total_money_spent(current_user).to_f/100)
          -current_budget = "%.2f" % ((@current_project.budget).to_f/100 || 0)
          %tbody
            %tr
              %td Budget (PLN)
              -if @current_project.owned_by?(current_user)
                %td
                  = form_tag project_budget_path(@current_project), method: :put, class: 'form-inline' do
                    = text_field_tag :budget, current_budget, :class => 'input-small'
                    = submit_tag 'Set', class: 'btn btn-primary'
              -else
                %td= current_budget
            %tr
              %td Money spent (PLN)
              %td= total_money

        -if current_budget.to_f > 0
          .progress
            -bar_width = total_money.to_f < current_budget.to_f ? total_money.to_f/current_budget.to_f*100 : 100
            %div.bar{ :style => "width: #{bar_width}%;" }
              %span.progress-value
                = "#{'%.2f' % (total_money.to_f/current_budget.to_f*100)}%"
