%h1 Users

%p
  = link_to "Create user", :new_admin_user, :class => 'btn'
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Email
      %th Current employee hourly rate
  %tbody
    - @users.each do |u|
      -current_rate = u.current_employee_hourly_rate.rate
      %tr
        %td= u.name
        %td
          = form_tag user_set_employee_hourly_rate_path(u), method: :put, class: 'form-inline' do
            = label_tag :rate, 'Rate (PLN) '
            = text_field_tag :rate, currency_format(current_rate), class: 'input-small'
            = label_tag :applies_from
            = text_field_tag :applies_from, Date.today, class: 'input-small', placeholder: 'yyyy-mm-dd'
            = submit_tag 'Set', class: 'btn btn-primary'
