- form_for [@project, @time_log_entry] do |f|
  = f.error_messages
  %p
    = f.label :formatted_created_at, "Date"
    = f.text_field :formatted_created_at
  %p
    = f.label :formatted_number_of_seconds, "Worked time"
    = f.text_field :formatted_number_of_seconds
  %p
    = f.label :task_id, "Task"
    = f.collection_select :task_id, @project.tasks.find(:all, sort: ["updated_at", "desc"]), :id, :name
  = f.hidden_field :current, :value => 0
  %p
    = f.submit "Submit"

