%h2= "Time log entries #{"for project " + @project.name if @project}"

= form_tag time_log_entries_path, method: :get do
  = select_tag :project_id, project_options
  = text_field_tag :from, @from
  \-
  = text_field_tag :to, @to
  = submit_tag 'Show'

.right
  = link_to "New log entry", new_project_time_log_entry_path(@project) if @project
.worked-time
  You have worked:
  = TimeFormatter::format @total_time
  = TimeFormatter::short_format @total_time
  - if @project
    on this project

- @time_log_entries.each do |entry|
  .time-log-entry
    %span.entry-duration
      = TimeFormatter::format(entry.number_of_seconds)
    %span.entry-date
      = localize entry.created_at, :format => :short
      = link_to "Edit", edit_project_time_log_entry_path(entry.task.project, entry) if entry.task && current_user == entry.user

    - if entry.task
      .entry-worked-on
        = link_to "##{entry.task.pivotal_tracker_story_id}",                                         |
                  "http://www.pivotaltracker.com/story/show/#{entry.task.pivotal_tracker_story_id}", |
                  target: "_blank"                                                                   |
        = entry.task.name


= will_paginate @time_log_entries
