#report
  %h1 Reports - Pivot

  %section
    = form_tag nil, method: :get do
      %fieldset.well
        %legend Configuration
        = label_tag :from
        = text_field_tag :from, @from
        %br/
        = label_tag :to
        = text_field_tag :to, @to
        %br/
        = label_tag :row_key
        = select_tag :row_key, options_for_select(Report::Pivot::ROW_KEYS, @row_key)
        %br/
      %fieldset.well
        %legend Filter
        = label_tag :project_id
        = select_tag :project_id, project_options
        %br/
        = label_tag :user_id
        = select_tag :user_id, user_options
        %br/
        = label_tag :label
        = text_field_tag :label, params[:label]
        %br/
        = label_tag :story_type
        - story_types.each do |value|
          %input{:type=>"checkbox", :name=>"story_type", :value=>"#{value}", :checked=>true}
          =value

      = submit_tag 'Show', class: 'btn btn-primary'

  %table#entries.table.table-striped.table-bordered
    %thead
      %tr
        %th= @row_key
        %th Total
    %tbody
      - @entries.each do |entry|
        %tr
          %td= entry[:key].name
          %td.time= TimeFormatter::short_format(entry["total_time"], include_parentheses: false)
    %tfoot
      %tr
        %td
        %td= TimeFormatter::short_format(@total_time, include_parentheses: false)
