!!! 5
%html
  %head
    %title TimeTracker
    = stylesheet_link_tag "reset", "screen"
    = javascript_include_tag "jquery-1.7.1.min"
    = javascript_include_tag 'jquery.cookie'
    = javascript_include_tag "bootstrap/bootstrap-dropdown"
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          - if current_user
            %ul.nav
              - if current_user.admin
                %li{class: controller_name == 'users' && action_name == 'index' && 'active'}=link_to t('header.users'), users_path
              %li{class: controller_name == 'projects' && 'active'}=link_to t('header.projects'), projects_path
              %li{class: controller_name == 'tasks' && 'active'}=link_to t('header.tasks'), root_path
              %li{class: controller_name == 'time_log_entries' && 'active'}=link_to t('header.logged_time'), [:time_log_entries]
              %li{class: controller_name == 'reports' && 'active'}=link_to t('header.reports'), [:pivot_reports]
              %li{class: controller_name == 'users' && action_name == 'edit' && 'active'}=link_to t('header.my_profile'), [:edit, :user, :registration]
              %li.divider-vertical
            %ul.nav.right
              %li= link_to t('header.sign_out'), destroy_user_session_path
          - else
            %ul.nav.right
              %li= link_to "Sign up", new_user_registration_path
              %li= link_to "Sign in", new_user_session_path

          = render 'layouts/task_menu'

    %header
      %h1
        = link_to "TimeTracker", root_path
        -if @worked_today.present?
          %span.right.worked-today{title: "time worked today"}
            worked today:
            %span.time= TimeFormatter::format @worked_today
    %section#content
      - if notice
        .alert.alert-info= notice
      - if flash[:error] || alert
        .alert.alert-error= flash[:error] || alert
      = yield
    %footer
      Copyright 2010 &copy; Wojciech Piekutowski, Hubert Łępicki

= javascript_include_tag "application"
